# ignore all
*.idea/*
*/target/*
reactive-consumer/.idea/*
rest-endpoint/.idea/*
reactive-consumer/.idea/misc.xml
reactive-consumer/reactive-consumer.iml
rest-endpoint/rest-endpoint.iml
reactive-consumer/.idea/misc.xml